<% include ../partials/header %>

<!-- partial container class in header -->
    <div class="row">
        <h1 style="text-align: center">Edit Comment</h1>

        <!-- make form centered with only 30% -->
        <div style="width: 30%; margin: 25px auto;">
            <form  action="/campgrounds/<%= campground_id %>/comments/<%= comment._id%>?_method=PUT" method="POST">
                <!-- give each form some spacing by using form-group class -->
                <div class="form-group">
                    <!-- use form-control class to make each input it's own line -->
                    <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
                </div>

                <!-- btn-block makes the button take up the entire line -->
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </form>

            <a href="/campgrounds">Go back</a>
        </div>

    </div>

<% include ../partials/footer %>
